// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center center;
}